<div id="contenedor">
    <p>
        Hola soy
    </p>
    <p>
        Ricardo Mélida
    </p>

    <div id="redes">
        <a href="https://github.com/rickyMelida" target="_blank">
            <img src="../assets/images/github.png">
        </a>

        <a href="https://www.facebook.com/ricardo.melida" target="_blank">
            <img src="../assets/images/facebook.png" alt="">
        </a>

        <a href="https://twitter.com/MelidaRicardo" target="_blank">
            <img src="../assets/images/twitter.png" alt="">
        </a>
    </div>

    <div id='cv'>
        <p><a href='../assets/CV.pdf' download="CV">Descargar CV</a></p>
    </div>
</div>

<div class='clearfix'></div>

<div class='titulos'>
    <h2>Habilidades</h2>
</div>

<div id='habilidades'>

    <div>
        <label>HTML/CSS</label>
        <progress value="75" max="100">
        </progress>
    </div>

    <div>
        <label>Bootstrap</label>
        <progress value="55" max="100">
        </progress>
    </div>

    <div>
        <label>PHP</label>
        <progress value="45" max="100">
        </progress>
    </div>

    <div>
        <label>JQuery</label>
        <progress value="65" max="100">
        </progress>
    </div>

    <div>
        <label>MYSQL</label>
        <progress value="65" max="100">
        </progress>
    </div>

    <div>
        <label>TypeScript</label>
        <progress value="45" max="100">
        </progress>
    </div>


    <div>
        <label>Angular</label>
        <progress value="15" max="100">
        </progress>
    </div>
</div>