<div id="tecnologias">
    <div>
        <a href='https://angular.io/' target="_blank"><img src='../../..//assets/images/angular.png' /></a>
    </div>
    <div>
        <a href='https://getbootstrap.com/' target="_blank"><img src='../../..//assets/images/bootstrap.png' /></a>
    </div>
    <div>
        <a href='https://jquery.com/' target="_blank"><img src='../../..//assets/images/jquery.png' /></a>
    </div>
    <div>
        <a href='https://www.mysql.com/' target="_blank"><img src='../../..//assets/images/mysql.png' /></a>
    </div>
    <div>
        <a href='https://www.typescriptlang.org/' target="_blank"><img src='../../..//assets/images/typescript.png' /></a>
    </div>
    <div>
        <a href='https://www.php.net/' target="_blank"><img src='../../..//assets/images/php.png' /></a>
    </div>
</div>